<h3>Show Store</h3>

<p><%= @store&.name %></p>
<p>Number of Aisles in the store: <%= @store&.aisles.count %> aisles</p>
<p>Number of Rows in each Aisle: <%= @store&.aisles.first.rows.count %> rows per each aisle</p>
<p>Number of Shelves per each row: <%= @store&.aisles.first.rows.first.shelves.count %> shelves per each row</p>


<h1>Store Items</h1>
<div class="container">
  <div class="jumbotron">
    <% @store.aisles.each do |aisle| %>
    <p><%= aisle %></p>
      <% aisle.rows.each do |row| %>
      <p><%= row %></p>
        <% row.shelves.each do |shelf| %>
        <p><%= shelf %></p>
          <!-- <% shelf.items.each do |item| %> -->
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
