  <!-- <#% @items.each_slice(1) do |group| %> -->

  <div class="container">
    <% @items.each do |item| %>
    <div class="row" style="border-radius: 10px;">

      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <h4 class="show-header"><%= item.name %></h4><hr />
        <h4>Category: <%= item.category.name %></h4>
        <p>
          <%= item.description %>
        </p>
        <img src="http://www.coghlans.com/images/products/products-camp-kitchen-thumb.jpg" alt="" width="70%" style="height: 250px; border-top-right-radius: 20px; border-bottom-right-radius: 20px;" class="img img-responsive">
        <h4>Price: $ <%= item.sale_price %></h4>
      </div>

      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <h4 class="show-header">Stores</h4> <hr />
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Store Name</th>
              <th>Location </th>
            </tr>
          </thead>
          <tbody>

            <% if @search.store_id.present? %>
              <tr>
                <td><%= link_to @search.store.name, store_item_path(@search.store, item) %></td>
                <td>Downtown first store</td>
              </tr>
              <% else %>

              <% item.stores.each do |store| %>
                <tr>
                  <td><%= link_to store.name, store_item_path(store, item) %></td>
                  <td>Downtown</td>
                </tr>
              <% end %>
            <% end %>

          </tbody>
        </table>
      </div>
      <hr />
    </div>
    <hr />
      <% end %>


  </div>
