  <!-- <#% @items.each_slice(1) do |group| %> -->

  <div class="container">
    <% @items.each do |item| %>
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <h3>Category: <%= item.category.name %></h3>
        <h3><%= item.name %></h3>
        <p>
          <%= item.description %>
        </p>
        <img src="https://phillipssewingshop.com/wp-content/uploads/2017/06/FSC_7500_WH240240-1-200x200.jpg" alt="" class="img img-circle img-responsive">
        <h3>Price: $ <%= item.sale_price %></h3>
      </div>

      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <h3>Stores</h3>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Store Name</th>
              <th>Location </th>
            </tr>
          </thead>
          <tbody>
            <% item.stores.each do |store| %>
            <tr>
              <td><%= link_to store.name %></td>
              <td>Downtown</td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <hr />
    </div>
      <% end %>


  </div>
