<h1>Items index</h1>
<div class="container">
  <%= form_tag items_path, :method => 'get' do %>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search" %>
  <% end %>

  <%= link_to "Advanced Search", new_search_path %>

  <%= render 'items' %>
</div>
