<!DOCTYPE html>
<html>
  <head>
    <title>EasyFinder</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <!-- google font Open Sans -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">

    <!-- google font Open Sans -->
    <!-- google font Bree Serif -->
    <link href="https://fonts.googleapis.com/css?family=Bree+Serif|Open+Sans:300,400,600" rel="stylesheet">
  </head>

  <body>
    <%= render 'layouts/sidebar.html.erb' %>
    <div id="flash_message">
      <% if flash[:notice] %>
        <div class='alert alert-success'><%= flash[:notice] %></div>
      <% elsif flash[:alert] %>
        <div class='alert alert-danger'><%= flash[:alert] %></div>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
